@import './constants.scss';

.container {
    display: flex;
    flex-direction: row;
    min-height: calc(100% - #{$top-bar-height});
    position: absolute;
}
  
.content {
    width: calc(100vw - #{$menu-width});
    height: 100%;
    max-height: calc(100vh - #{$top-bar-height});
    left: $menu-width;
    position: absolute;
    overflow-x: hidden;
    transition: left 0.5s;
    display: flex;
    flex-direction: column;
    transition: width 0.5s, left 0.5s;
}

.content-top {
    flex: 5;
    overflow: auto;
}

.content-bottom {
    flex: 1;
    width: 100%;
    padding: 16px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.03), 0 0px 10px rgba(0, 0, 0, 0.02);
}

.leaflet-container {
    height: 100%;
    width: 100%;
}

.p-l {
    padding: 16px;
}


.qc-button {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 8px;
    width: calc(50% - 16px);
    background-color: #3c46cc;
    border: 0px solid transparent;
    height: 50px;
    color: white;
}

.qc-button:hover {
    background-color: #3c46ccec;
    transform: scale(1.005);
    cursor: pointer;
}

ul.menu-list {
    padding-left: 0;
    margin-left: 0;
}

ul.menu-list li:hover {
    cursor: pointer;
}